#contact-me {
    background-color: #383333;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
    line-height: 1.3rem;
    font-size: 1rem;
    animation: fadeIn 1s;
}

#contact-me .confirm-message{
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

#contact-me .confirm-message.success-message {
    background-color: #85b933;
}

#contact-me .confirm-message.error-message {
    background-color: #e93d2d;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    background-color: #1F1F1F;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group textarea::placeholder {
    color: #635f5f;
}

.form-group input[type="submit"] {
    background-color: #00CDC1;
    border: none;
    padding: 0.5rem 2rem;
    color: #383333;
    border-radius: 0.8rem;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #4edad0;
    transition: background-color 0.5s ease;
}

.form-group.submit {
    display: flex;
    justify-content: right;
}

