#about-me {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: fadeIn 1s;
}

.about-me-wrapper {
    color: #FFFFFF;
}

.expertise {
    background-color: #383333;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
    line-height: 1.3rem;
    font-size: 1rem;
}

.experience-container {
    background-color: #383333;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem auto;
}

.experience-container .title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.experience-container .experience {
    margin-top: 1rem;
    line-height: 1.3rem;
    font-size: 1rem;
}

.experience-container .experience .name {
    font-weight: 700;
}

.experience-container .experience .date {
    margin-bottom: 0.5rem;
}
