.top-image {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.top-image img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    border: solid 5px #FFFFFF;
    background-color: #FFFFFF;
    object-fit: cover;
}

.top-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.top-title div {
    margin-top: 0.5rem;
    color: #FFFFFF;
}

.top-title .name {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.top-title .expertise {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
}

.socials ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.socials ul li a {
    color: #FFFFFF;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.socials ul li a:hover {
    color: #00CDC1;
    transition: color ease 0.5s;
}