.navbar {
    margin-top: 1rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar ul li {
    padding: 1rem;
    text-transform: uppercase;
}

.navbar ul li a {
    color: #FFFFFF;
    text-decoration: none;   
}

.navbar ul li a:hover {
    color: #00CEC1;
}

.navbar ul li a.active {
    color: #00CEC1;
    padding-bottom: 0.5rem;
    border-bottom: 5px #00CEC1 solid;
}