.project {
    background-color: #383333;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
    margin: 2rem auto;
    line-height: 1.3rem;
    font-size: 1rem;
    color: #FFFFFF;
    animation: fadeIn 1s;
}

.project-name a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.project-source-code {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.project-source-code a {
    position: relative;
    color: #383333;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #00C5B9;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.project-source-code a span {
    margin-left: 1.2rem;
}

.project-source-code a svg {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.project-source-code a:hover {
    background-color: #4edad0;
    transition: background-color 0.5s ease;
}

.project-description {
    margin-bottom: 1rem;
}

.project-name {
    margin-bottom: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-image {
    margin-bottom: 1rem;
}

.project-image a img {
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
}

.project-tech-used {
    display: flex;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.project-tech-used div {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background-color: #FFB74A;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    color: #383333;
}