/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){
    .project-image a img {
        width: 100%;
    }

    .project {
        width: 70%;
    }

    .project-source-code {
        flex-direction: column;
    }
}